<html lang="zh-Hans-CN">
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>%title%</title>
       <link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
       <!--<script type="text/javascript" src="%root_path%js/bootstrap.min.js"></script>-->
       <script type="text/javascript" src="%root_path%js/jquery-1.8.3.min.js"></script>
       <script type="text/javascript" src="%root_path%js/wiki.js"></script>
    </head>
<body>

<div>
<a href="%root_path%index.html">首页</a> | 
<a href="%root_path%personal.html">个人</a> | <a href="%root_path%work.html">工作</a> | <a href="%root_path%life.html">生活</a> | 
<a href="%root_path%about.html">关于</a>
</div>
<br>


<table  cellspacing=0 cellpadding=0 align=center  border=0>
<tr valign=middle>
<td align=right  style="background-color: #E9E0D3;border-style: none;">
<div style="width:100px; height:100px; border-radius:50%; overflow:hidden;padding-right:15px;"><img src="%root_path%swift.png"></div>
</td>
<td align=left style="background-color: #E9E0D3;border-style: none;padding-left:15px;">
<div><span style="font-family: Microsoft YaHei;font-size:26px;color: #f37">%title%</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style=”font-size:12px“><i>自律即自由。</i></span></div>
<br>
<div><a href="#list">任务列表</a> | <a href="#calendar">事后复盘</a> | <a href="#diary">吐槽日志</a></div>
</td></tr></table>
<hr>
<div class="content"> %content%   </div>
<hr>
<div align=center style="color: #8E8E8E">
<script type="text/javascript">copyright=new Date();update=copyright.getFullYear();document.write("Copyright 1999-"+ update + " Hill");</script>
</div>
</body>
</html>
