<html lang="zh-cmn-Hans">
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>%title%</title>
       <link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
       <!--<script type="text/javascript" src="%root_path%js/bootstrap.min.js"></script>-->
       <script type="text/javascript" src="%root_path%js/jquery-1.8.3.min.js"></script>
       <script type="text/javascript" src="%root_path%js/wiki.js"></script>
    </head>
<body>
<table cellspacing=0 cellpadding=0 align=center width=100% border=0>
<tr valign=middle>
<td width=40% align=center>
<div style="width:200px; height:200px; border-radius:50%; overflow:hidden;"><img src="%root_path%about.png"></div>
</td>
<td align=left valign=middle>
<div><span style="font-family: Microsoft YaHei;font-size:32px;color: #f37">关 于</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style=”font-size:12px“><i>一切真知皆源于实践。</i></span></div>
<br>
<div>
<a href="%root_path%index.html">首页</a> | <a href="%root_path%archive.html">工作记事</a> | <a href="%root_path%list.html">事项列表</a> | <a href="%root_path%todo.html">TODO</a> | <a href="%root_path%about.html">关于</a></div></td></tr></table>
<hr>
<div class="content"> %content%   </div>
<hr>
<div align=center style="color: #8E8E8E">
<script type="text/javascript">copyright=new Date();update=copyright.getFullYear();document.write("Copyright 1999-"+ update + " Hill");</script>
</div>
</body>
</html>
