<html lang="zh-cmn-Hans">
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>%title%</title>
       <link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
       <!--<script type="text/javascript" src="%root_path%js/bootstrap.min.js"></script>-->
       <script type="text/javascript" src="%root_path%js/jquery-1.8.3.min.js"></script>
       <script type="text/javascript" src="%root_path%js/wiki.js"></script>
    </head>
<body>
<table cellspacing=0 cellpadding=0 align=center width=100% border=0>
<tr valign=middle>
<td width=40% align=center>
<div style="width:200px; height:200px; border-radius:50%; overflow:hidden;"><img src="%root_path%home.png"></div>
</td>
<td align=left valign=middle>
<div><span style="font-family: Microsoft YaHei;font-size:32px;color: #f37">我的工作间</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style=”font-size:12px“><i>责任心是一切正确行为的基础。</i></span></div>
<br>
<div>
<a href="%root_path%index.html">首页</a> | <a href="%root_path%inbox.html">收集箱</a> | <a href="%root_path%list.html">常规事务</a> | <a href="%root_path%cs.html">重要事项</a> | <a href="%root_path%time.html">周行事历</a> | <a href="%root_path%todo.html">待办事项</a> | <a href="%root_path%diary.html">工作日志</a> | <a href="%root_path%about.html">关于</a></div>
</td></tr></table>
<hr>
<div class="content">%content%</div>
<hr>
<div align=center style="color: #8E8E8E">
<script type="text/javascript">copyright=new Date();update=copyright.getFullYear();document.write("Copyright 1999-"+ update + " Hill");</script>
</div>
</body>
</html>
